#about
	ul
		padding 0em
		li
			ul
				padding 0 1rem
				li
					ul
						padding 0 1.5rem
						list-style-type disc
						li:first-child
							list-style-type none
	.imgContainer
		float right
		margin-top -200px
		width 54%