@font-face
  font-family 'abeatbykairegular'
  src url('../fonts/abeakrg-webfont.eot')
  src url('../fonts/abeakrg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeakrg-webfont.woff') format('woff'),
         url('../fonts/abeakrg-webfont.ttf') format('truetype'),
         url('../fonts/abeakrg-webfont.svg#abeatbykairegular') format('svg')
  font-weight normal
  font-style normal