#home
	#logo
		position absolute
		bottom 0
		right 0
		color #ff0
		width 286px

	h1
		font-size 2.7rem
		line-height 1.5rem
		text-align right
	h2
		font-size 1.5rem
		text-align right
		padding 0

