.home
    height 40px
    width 40px
    background #fff
    float left
    text-align right

    &.one
    	background blue
    &.two
    	background pink
    &.three
    	background green
    &.four
    	background purple