html, body 
  position relative
  height 100%
  font-family font-family
  -webkit-font-smoothing antialiased
  overflow hidden

p
	color #fff
	padding 1em
  
#right
	background #9b9b9b

#center1
	background #878787

#center2
	background #747474

#left
	background #606060

.slide
	width 25%
	min-height 100%
	float left
	transition width 1s ease
	position relative

	&.inactive
		width 3.3%
	&.active
		width 90%
.content
	opacity 0
	transition opacity 0.5s ease
	cursor default

	&.active
		opacity 1
		cursor text

.wrapper
	width 90%
	height 500px
	margin 30px auto
	background rgba(0,0,0,0.2)
	overflow hidden
	position relative

.icon
	width 20px
	margin 10px

.myScrollbarV
	position absolute
	z-index 100
	width 13px 
	bottom 7px 
	top:2px 
	right 1px
	background rgba(0,0,0,0.5)

.myScrollbarV > div
	position absolute
	z-index 100
	width 100%
	background #fff