html, body 
  position relative
  height 100%
  font-family font-family
  -webkit-font-smoothing antialiased
  overflow hidden
  
#right
	background #9b9b9b

#center1
	background #878787

#center2
	background #747474

#left
	background #606060

.slide
	width 25%
	min-height 100%
	float left
	transition width 1s ease
	position relative

	&.inactive
		width 3.3%
	&.active
		width 90%
.content
	opacity 0
	transition opacity 0.5s ease
	cursor default

	&.active
		opacity 1
		cursor text

.contentLarge
	width 90%
	height 300px
	margin 100px auto
	background #fff